:root {
    --accent-color: #1E74EC;
    --major-text-color : #535670;
    --secondary-text-color: #DDDDE2;
    --light-title-color: #EEEFF1;
    --blue-title-color: #03115F;
    --secondary-title-color: #35417F;
    --additional-text-color: #A960AB;
    --light-background: #FFFFFF;
    --gray-background: #E6E8EF;
    --decription-color: #75788D;
    --secondary-decription-color: #989AA9;
}